In [4]:
import pandas as pd

df_raw = pd.read_excel(r'final refinement.xlsx', engine='openpyxl')
df_clean = pd.read_csv(r'fully_corrected_data.csv')

df_raw = df_raw.sort_values(by=['Country', 'Year'])

df_years_adjusted = df_raw.groupby('Country', group_keys=False).apply(lambda x: x.iloc[1:])

df_clean['Year'] = df_years_adjusted['Year'].astype(int).values

cols = ['Country', 'Year'] + [c for c in df_clean.columns if c not in ['Country', 'Year']]
df_final = df_clean[cols]

df_final.to_csv('final_data_with_year.csv', index=False)

print(df_final.head())

   Country  Year  Population_Growth_Rate  \
0  Albania  1972                2.734901
1  Albania  1973                2.658267
2  Albania  1974                2.579554
3  Albania  1975                2.501303
4  Albania  1976                2.393777

   Exports of goods and services_Growth_Rate  \
0                                   2.932948
1                                   2.730854
2                                   2.971091
3                                   3.097021
4                                   2.125896

   Imports of goods and services_Growth_Rate  \
0                                   2.882243
1                                   2.884171
2                                   2.816346
3                                   2.946250
4                                   2.889961

   Gross capital formation_Growth_Rate  \
0                             2.832115
1                             3.031680
2                             2.672071
3                             2.792827
4                             3.631432

   Final consumption expenditure_Growth_Rate  \
0                                   2.877130
1                                   2.846976
2                                   2.906070
3                                   2.878353
4                                   2.756511

   Government_Expenditure_Growth_Rate  GDP_Growth_Rate
0                            2.864117         2.872309
1                            2.825528         2.878676
2                            2.988045         2.857130
3                            2.778893         2.881123
4                            2.709687         2.897782